nav{
    background-color: #e4699c;
    ul{
        li{
            font-size: 1.5em;
            padding: 5px;
            a:hover{
                text-decoration: none;
            }
        }
    }
}