/*
Base theme
*/
.color-cyan{
    color: #00A99D;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.ralaway-bold{
    font-weight: 800;
}

main{
    margin: 0 auto;
}

.op-5{
    opacity: 0.5;
}

/*
Links and hovers
*/

a:link{
    color: #383838;
    border-radius: 5px;
}

a:visited{
    color: #383838;
}

.hover:hover{
    background-color: #00A99D;
    text-decoration: none;
}

/*
Header
*/

header img{
    width: 10rem;
}

ul > li > a{
    font-weight: 800;
    font-size: 0.8rem;
}

/*
Header padding
*/

header.container{
    padding: 0;
    margin-bottom: 5rem;
}
nav.navbar{
    padding-left: 0;
    padding-right: 0;
}

nav > div.col-auto{
    padding-left: 0;
}

button.btn{
    padding-right: 0;
}

/*
Continue content formatting
*/

h1{
    display: inline;
}

i{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon-circle{
    font-size: 3rem;
    color: #e4e4e4;
    background: #383838;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

